.osd-window {
    @include large-text;
    
    background: transparent;
    padding: 9px;

    .osd-container {
        background: transparent;
    }

    .osd-item {
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0.5, 0, 0, 1);

        &.revealed {
            transition-duration: 0.4s;
            opacity: 1;
            transform: scale(1);
        }

        &:not(.revealed) {
            transition-duration: 0.2s;
            opacity: 0;
            transform: scale(0.5);
        }
    }

    .osd-box {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;
        color: $foreground-color-primary;
        padding: 12px;
        min-width: 130px;
        margin-top: 4px;

        .osd-header-value {
            color: $foreground-color-quaternary;
        }

        .osd-levelbar {
            margin-top: 8px;
            trough {
                border-radius: 0px;

                block.filled {
                    border-radius: 0px;
                    background: $foreground-color-primary;
                }
            }
        }
    }
}
