.overview-window {
    @include normal-text;
    background-color: transparent;
    color: $foreground-color-primary;

    .entry-prompt-label {
        color: $foreground-color-secondary;
        padding-left: 12px;
        padding-right: 12px;
    }

    .entry-box {
        background: $background-color-primary;
        margin-bottom: 8px;
        min-width: 294px;
        transition: all 0.25s cubic-bezier(0.5, 0, 0, 1);
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        border: 1px solid $border-color-primary;

        .entry-box-icon {
            @include material-icons;
            font-size: 18px;
            margin-right: 8px;
            color: $foreground-color-secondary;
        }

        .entry-prompt {
            outline: none;
            padding-top: 4px;
            background: transparent;
            color: $foreground-color-primary;

            selection {
                background-color: $foreground-color-select;
                color: $background-color-quaternary;
            }

            caret-color: transparent;
        }

        &.entry-extended {
            min-width: 448px;

            .entry-prompt {
                caret-color: $foreground-color-select;
            }
        }
    }

    .overview-window {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;
        padding: 8px;
        min-width: 336px;

        .overview-window-header {
            @include large-text;
            margin: 8px;
            color: $foreground-color-select;
        }

        .overview-window-button {
            @include large-text;
            background: $background-color-primary;
            color: $foreground-color-primary;
            border-radius: 0px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            padding-right: 12px;
            font-weight: normal;

            .overview-window-button-icon {
                margin-right: 16px;
            }

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:active {
                background: $background-color-quaternary;
            }
        }
    }

    .overview-search-results {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;
        padding: 6px;
        min-width: 452px;

        .overview-search-item-row {
            padding: 0px;
        }

        .overview-search-item-revealer {
            transition: opacity 0.175s cubic-bezier(0.5, 0, 0, 1);

            &.revealed {
                opacity: 1;
            }

            &:not(.revealed) {
                opacity: 0;
            }
        }

        .overview-search-item {
            @include large-text;
            background: $background-color-primary;
            color: $foreground-color-primary;
            border-radius: 0px;

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:focus {
                .overview-search-item-action {
                    opacity: 1;
                }
            }

            &:not(:focus) {
                .overview-search-item-action {
                    opacity: 0;
                }
            }

            &:active {
                background: $background-color-quaternary;
            }

            .overview-search-item-box {
                padding: 4px;
                font-weight: normal;

                .overview-search-item-icon {
                    font-size: 24px;
                    margin-right: 16px;
                }

                .overview-search-item-subtitle {
                    @include tiny-text;
                    margin-left: 1px; /* sigh */
                    color: $foreground-color-secondary;
                }

                .overview-search-item-action {
                    color: $foreground-color-secondary;
                    transition: opacity 0.175s cubic-bezier(0.5, 0, 0, 1);
                }
            }
        }
    }
}
