.popup-window {
    &.visible .popup-window-revealer {
        transition: filter 0.2s cubic-bezier(0.5, 0, 0.25, 1),
                    opacity 0.2s cubic-bezier(0.5, 0, 0.25, 1);
        filter: blur(0px);
        opacity: 1;
    }
    &:not(.visible) .popup-window-revealer {
        transition: filter 0.05s cubic-bezier(0.5, 0, 0.25, 1),
                    opacity 0.15s cubic-bezier(0.5, 0, 0.25, 1);
        filter: blur(12px);
        opacity: 0;
    }
}
