.bar-window .bar .bar-widget.bar-workspaces {
    .bar-minimal-widget {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .bar-workspaces-drawingarea {
        background: $background-color-primary;
        transition-property: font-size;
        transition-duration: 0.225s;
        transition-timing-function: cubic-bezier(0.5, 0, 0.25, 1);
        transition-delay: 0s;
        min-width: 50px;
        min-height: 0px;
    }
}
