.bar-steal-window {
    background: #00000001;
}

.bar-window {
    background: transparent;

    .bar {
        @include normal-text;

        .bar-widget {
            color: $foreground-color-primary;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 2px;
            padding-right: 2px;
            
            .bar-module-background {
                background: $background-color-primary;
            }
            
            .bar-minimal-widget {
                min-height: 24px;
                padding-left: 6px;
                padding-right: 6px;
            }
            
            &:first-child {
                padding-left: 5px;
            }
            
            &:last-child {
                padding-right: 5px;
            }
        }
    }
}
