@keyframes running-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.left-sidebar-window .left-sidebar-box .AiChat {
    .ai-chat-ui {
        .ai-chat-conversation-controls {
            margin-bottom: 12px;
        }
        
        .ai-chat-conversation-title {
            @include large-text;
            font-weight: 900;
            color: $foreground-color-select;
        }

        .ai-chat-conversation-control-button {
            @include tiny-text;
            background: $background-color-secondary;
            border: 1px solid $border-color-primary;
            border-radius: 0px;
            color: $foreground-color-primary;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 6px;
            padding-right: 6px;
            font-weight: normal;

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:active {
                background: $background-color-quaternary;
            }

            .ai-chat-conversation-control-button-icon {
                @include material-icons;
                font-size: 13px;
            }
        }

        .ai-chat-message {
            background: $background-color-secondary;
            border: 1px solid $border-color-primary;
            padding: 12px;
            color: $foreground-color-primary;

            .ai-chat-message-sender {
                margin-bottom: 8px;

                .ai-chat-message-sender-icon {
                    background: $background-color-secondary;
                    border: 1px solid $background-color-tertiary;
                    margin-right: 8px;
                }

                .ai-chat-message-sender-mui-icon {
                    @include material-icons;
                    font-size: 24px;
                    margin-right: 8px;
                }

                .ai-chat-message-sender-label {
                    @include large-text;
                }
            }

            .ai-chat-message-control-button {
                @include material-icons;
                background: transparent;
                border: 0px;
                color: $foreground-color-quaternary;
                padding: 0px;
                margin: 0px;
                min-width: 0px;
                min-height: 0px;

                &:hover, &:focus {
                    color: $foreground-color-tertiary;
                    outline: none;
                }

                &:active {
                    color: $foreground-color-secondary;
                }
            }

            .ai-chat-thinking-block {
                background: $background-color-primary;
                border: 1px solid $border-color-primary;
                margin-bottom: 12px;

                .ai-chat-thinking-dropdown-button {
                    background: transparent;
                    font-weight: normal;
                    border-radius: 0px;
                    padding: 6px 12px;

                    .ai-chat-thinking-dropdown-indicator {
                        @include material-icons;
                        color: $foreground-color-secondary;
                        font-size: 16px;
                        margin-right: 8px;
                    }

                    .ai-chat-thinking-dropdown-arrow {
                        @include material-icons;
                        color: $foreground-color-primary;
                        font-size: 20px;
                        padding: 0px;
                        margin-left: 8px;
                        margin-right: -4px;
                        padding-top: 3px;
                        margin-top: -3px;
                        transition: transform 0.25s cubic-bezier(0.5, 0, 0.25, 1);
                    }
                }

                &:not(.expanded) {
                    .ai-chat-thinking-dropdown-button {
                        &:hover, &:focus {
                            background: #ffffff04;
                            outline: none;
                        }

                        &:active {
                            background: #ffffff08;
                        }
                    }
                }

                &.expanded .ai-chat-thinking-dropdown-button .ai-chat-thinking-dropdown-arrow {
                    transform: rotate(180deg);
                }

                .ai-chat-thinking-summary {
                    @include variable-text;
                    padding: 12px;
                    color: $foreground-color-secondary;

                    .cmark-codeblock-header {
                        background-color: #242424;
                        padding: 6px 8px;
                    }

                    .cmark-table-cell {
                        padding: 4px 8px;
                        border: 1px solid $background-color-quaternary;
                    }
                }
            }

            .ai-chat-message-content {
                @include variable-text;

                .cmark-codeblock-header {
                    background-color: #242424;
                    padding: 6px 8px;
                }

                .cmark-table-cell {
                    padding: 4px 8px;
                    border: 1px solid $background-color-quaternary;
                }
            }

            .ai-chat-message-tool-call {
                margin-top: 12px;
                padding: 12px;
                background: $background-color-primary;
                border: 1px solid $border-color-primary;

                .ai-chat-message-tool-call-name {
                    @include large-text;
                    margin-bottom: 6px;
                }

                .ai-chat-message-tool-call-arguments {
                    @include normal-text;
                    color: $foreground-color-secondary;
                }
            }
        }

        .ai-chat-input-box {
            background: $background-color-secondary;
            border: 1px solid $background-color-tertiary;
            padding: 8px;
            margin-top: 8px;

            .ai-chat-input-attachments-box {
                background: transparent;
                border: 0px;
                padding: 4px;
                margin-bottom: 8px;

                .ai-chat-input-attachment-remove-button {
                    @include material-icons;
                    font-size: 16px;
                    font-weight: normal;
                    background: transparent;
                    border: 0px;
                    color: $foreground-color-quaternary;
                    padding: 0px;
                    margin: 0px;
                    min-width: 0px;
                    min-height: 0px;

                    &:hover, &:focus {
                        color: $foreground-color-tertiary;
                        outline: none;
                    }

                    &:active {
                        color: $foreground-color-secondary;
                    }
                }
            }

            .ai-chat-input-placeholder {
                padding: 4px;
                color: $foreground-color-secondary;
            }

            .ai-chat-input {
                background: transparent;
                color: $foreground-color-primary;
                padding: 4px;
                min-height: 0px;
                border-radius: 0px;
                outline: none;
                box-shadow: none;
                border: none;

                selection {
                    background-color: $foreground-color-select;
                    color: $background-color-quaternary;
                }
            }

            .ai-chat-input-send-button {
                margin-top: 4px;

                .ai-chat-input-send-button-icon {
                    @include material-icons;
                    font-size: 18px;
                    margin-left: 6px;
                    margin-top: -1px;
                    margin-bottom: -1px;

                    &.running {
                        animation: running-spin 1s cubic-bezier(0.0, 0.0, 0.6, 0.8) infinite;
                    }
                }

                background: transparent;
                min-height: 0px;
                margin-left: 4px;
                padding: 0px;
                font-weight: normal;
                color: $foreground-color-quaternary;
                
                &:hover, &:focus {
                    color: $foreground-color-tertiary;
                    outline: none;
                }
            
                &:active {
                    color: $foreground-color-secondary;
                }
            }
        }
    }

    .ai-conversations-ui {
        .ai-chat-conversation-item {
            background: transparent;
            color: $foreground-color-primary;
            border: 0px;
            border-radius: 0px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 8px;
            padding-right: 8px;
            font-weight: normal;
            transition: background 0.25s cubic-bezier(0.5, 0, 0.25, 1);

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            .ai-chat-conversation-item-title-label {
                @include large-text;
            }

            .ai-chat-conversation-item-title-input {
                @include large-text;
                background: transparent;
                color: $foreground-color-primary;
                padding: 0px;
                border-bottom: 1px solid $border-color-primary;
                min-height: 0px;
                border-radius: 0px;
                outline: none;
                box-shadow: none;
            }

            .ai-chat-conversation-item-length-label {
                color: $foreground-color-secondary;
            }

            .ai-chat-conversation-item-controls-box {
                margin-left: 16px;
            }

            .ai-chat-conversation-item-control-button {
                @include material-icons;
                font-size: 16px;
                transition: color 0.25s cubic-bezier(0.5, 0, 0.25, 1);
                color: $foreground-color-primary;
                padding: 0px;
                min-width: 0px;
                min-height: 0px;
                background: transparent;
                border: 0px;

                &:hover, &:focus {
                    color: $foreground-color-secondary;
                    outline: none;
                }

                &:active {
                    color: $foreground-color-primary;
                }
            }
        }

        .ai-chat-conversation-ui-header-button {
            @include normal-text;
            background: $background-color-secondary;
            font-weight: 300;
            border: 0px;
            color: $foreground-color-primary;
            padding: 4px 8px;
            border-radius: 0px;

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:active {
                background: $background-color-quaternary;
            }

            .ai-chat-conversation-ui-header-button-icon {
                @include material-icons;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}
