@import "google-translate";
@import "color-picker";
@import "ai-chat";

.left-sidebar-window {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    .left-sidebar-box {
        @include normal-text;
        background-color: $background-color-primary;
        border: 1px solid $border-color-primary;
        color: $foreground-color-primary;
        padding: 8px;
        min-width: 400px;
    }
}
