.left-sidebar-window .left-sidebar-box .GoogleTranslate {
    .google-translate-arrow {
        @include large-text;
        color: $foreground-color-primary;
        font-weight: 900;
        margin-left: 10px;
        margin-right: 10px;
    }

    .google-translate-button,
    .google-translate-language-select-button {
        @include normal-text;
        background: $background-color-secondary;
        font-weight: 300;
        border: 0px;
        color: $foreground-color-primary;
        padding: 8px 12px;
        border-radius: 0px;

        &:hover, &:focus {
            background: $background-color-tertiary;
            outline: none;
        }

        &:active {
            background: $background-color-quaternary;
        }

        .material-icons {
            font-weight: 400;
            font-size: 16px;
        }
    }

    .google-translate-language-select-box {
        .google-translate-language-select-label {
            @include large-text;
            margin-top: 6px;
        }

        .google-translate-language-select-nav-button {
            @include normal-text;
            background: $background-color-secondary;
            font-weight: 300;
            border: 0px;
            color: $foreground-color-primary;
            padding: 4px;
            border-radius: 0px;

            &:hover {
                background: $background-color-tertiary;
            }
        }
    }

    .google-translate-language-select-filter-box {
        background: $background-color-secondary;
        border: 1px solid $background-color-tertiary;
        padding: 8px;

        .google-translate-language-select-filter-entry {
            background: transparent;
            color: $foreground-color-primary;
            padding: 4px;
            min-height: 0px;
            border-radius: 0px;
            outline: none;
            box-shadow: none;
            border: none;
        }

        .google-translate-language-select-filter-clear-button {
            @include material-icons;
            background: transparent;
            min-height: 0px;
            margin-left: 4px;
            padding: 0px;
            color: $foreground-color-quaternary;

            &:hover, &:focus {
                color: $foreground-color-tertiary;
                outline: none;
            }

            &:active {
                color: $foreground-color-secondary;
            }
        }
    }

    .google-translate-text-view {
        @include large-text;
        padding: 12px;
        background: $background-color-secondary;

        text {
            background: $background-color-secondary;
        }
    }
}
