.left-sidebar-window .left-sidebar-box .GoogleTranslate {
    .google-translate-arrow {
        @include large-text;
        color: $foreground-color-primary;
        font-weight: 900;
        margin-left: 10px;
        margin-right: 10px;
    }

    .google-translate-button,
    .google-translate-language-select-button {
        @include normal-text;
        background: $background-color-secondary;
        font-weight: 300;
        border: 0px;
        color: $foreground-color-primary;
        padding: 8px 12px;
        border-radius: 0px;

        &:hover, &:focus {
            background: $background-color-tertiary;
            outline: none;
        }

        &:active {
            background: $background-color-quaternary;
        }

        .material-icons {
            font-weight: 400;
            font-size: 16px;
        }
    }
    
    .google-translate-languages-scrolled-window scrollbar range trough {
        margin: 0px;
        
        slider {
            min-height: 4px;
            transition: min-height 0.25s ease-in-out;
            &:hover {
                min-height: 6px;
            }
        }
    }
    
    .google-translate-language-button {
        @include normal-text;
        background: transparent;
        font-weight: 300;
        border: 0px;
        color: $foreground-color-primary;
        padding: 3px 12px 6px 12px;
        border-radius: 0px;
        transition-property: border-bottom, color;
        transition-duration: 0.25s;
        
        &:not(.selected) {
            border-bottom: 1px solid transparent;
            color: rgba($foreground-color-primary, 0.6666666667);
        
            &:hover, &:focus {
                color: rgba($foreground-color-primary, 0.8);
                outline: none;
            }
        
            &:active {
                color: rgba($foreground-color-primary, 0.9333333333);
            }
        }
    
        &.selected {
            border-bottom: 1px solid $foreground-color-primary;
            color: $foreground-color-primary;
        
            &:hover, &:focus {
                color: $foreground-color-primary-focus;
                outline: none;
            }
        
            &:active {
                color: $foreground-color-primary-active;
            }
        }

        .material-icons {
            font-weight: 400;
            font-size: 16px;
        }
    }
    
    .google-translate-language-select-back-button,
    .google-translate-language-select-menu-button {
        @include material-icons;
        background: transparent;
        font-size: 16px;
        font-weight: 400;
        border: 0px;
        color: $foreground-color-secondary;
        transition-property: color;
        transition-duration: 0.25s;
        padding: 0px;
        padding-left: 4px;
        border-radius: 0px;

        &:hover, &:focus {
            outline: none;
            color: $foreground-color-select;
        }
        
        &:active {
            color: $foreground-color-active;
        }
    }

    .google-translate-language-select-box {
        .google-translate-language-select-label {
            @include large-text;
            margin-top: 6px;
            margin-bottom: 6px;
        }

        .google-translate-language-select-nav-button {
            @include normal-text;
            background: $background-color-secondary;
            font-weight: 300;
            border: 0px;
            color: $foreground-color-primary;
            padding: 4px;
            border-radius: 0px;

            &:hover {
                background: $background-color-tertiary;
            }
        }
    }

    .google-translate-language-select-filter-box {
        background: $background-color-secondary;
        border: 1px solid $background-color-tertiary;
        padding: 8px;

        .google-translate-language-select-filter-entry {
            background: transparent;
            color: $foreground-color-primary;
            padding: 4px;
            min-height: 0px;
            border-radius: 0px;
            outline: none;
            box-shadow: none;
            border: none;
            
            selection {
                background-color: $foreground-color-select;
                color: $background-color-quaternary;
            }
        }

        .google-translate-language-select-filter-clear-button {
            @include material-icons;
            background: transparent;
            min-height: 0px;
            margin-left: 4px;
            padding: 0px;
            color: $foreground-color-quaternary;

            &:hover, &:focus {
                color: $foreground-color-tertiary;
                outline: none;
            }

            &:active {
                color: $foreground-color-secondary;
            }
        }
    }

    .google-translate-text-view {
        @include large-text;
        padding: 12px;
        margin-bottom: 16px;
        background: $background-color-secondary;

        text {
            background: $background-color-secondary;
        }
    }
}
