.sidebar-right-top-tabs .audio-tab-root {
    .audio-master-root {
        margin-top: 4px;
        background: $background-color-tertiary;
        
        .audio-master-controls {
            padding: 6px;
            
            .audio-master-icon {
                @include material-icons;
                color: $foreground-color-primary;
                font-size: 18px;
            }
            
            .audio-master-volume-label {
                margin-right: 4px;
            }
            
            .audio-master-volume-slider {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 8px;
            padding-right: 12px;
            
            trough {
                border-radius: 0px;
                min-height: 8px;
                min-width: 8px;
                background-color: $background-color-quaternary;
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0, 0.3, 0, 1);
            }
        
            trough:focus {
                outline: none;
            }
        
            &:hover trough {
                background-color: $background-color-quinary;
            }
        
            highlight, &:hover highlight {
                border-radius: 0px;
                min-height: 4px;
                min-width: 4px;
                background-color: $foreground-color-primary;
            }
        
            slider {
                outline: none;
                border-radius: 0px;
                padding: 0px;
                background-color: #00000000;
                box-shadow: none;
            }
            }
            
            .audio-master-devices-revealer-button {
                @include material-icons;
                background-color: transparent;
                border-radius: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 3px;
                padding-right: 3px;
                
                .audio-master-devices-revealer-button-icon {
                    color: $foreground-color-primary;
                    font-size: 12px;
                    transition: transform 0.2s ease-in-out;
                }
                
                &.open .audio-master-devices-revealer-button-icon {
                    transform: rotate(180deg);
                }
                
                &:hover, &:focus {
                    outline: none;
                    background-color: #ffffff09;
                }
                
                &:active {
                    background-color: #ffffff16;
                }
            }
        }
        
        .audio-master-devices-box {
            padding: 0px;
            
            .audio-master-device-root {
                font-weight: 400;
                background-color: transparent;
                border-radius: 0px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 6px;
                padding-right: 6px;
                color: $foreground-color-primary;
                
                .audio-master-device-default-icon {
                    @include material-icons;
                    font-size: 18px;
                    margin-left: 8px;
                    color: $foreground-color-primary;
                }
                
                .audio-master-device-icon {
                    @include material-icons;
                    font-size: 18px;
                    margin-right: 8px;
                    color: $foreground-color-primary;
                }
                
                &:hover, &:focus {
                    outline: none;
                    background-color: #ffffff09;
                }
                
                &:active {
                    background-color: #ffffff16;
                }
            }
        }
    }
    
    .audio-streams-root {
        margin-top: 4px;
    }
    
    .audio-stream-root {
        background: $background-color-tertiary;
        padding: 8px;
        
        .audio-stream-mute-button {
            @include material-icons;

            color: $foreground-color-primary;
            font-weight: 300;
            font-size: 12px;
            padding: 0px;
            margin-left: 6px;
            min-width: 20px;
            min-height: 20px;
            border-radius: 0px;

            &.muted {
                background: $foreground-color-primary;
                color: $background-color-primary;
                
                &:hover, &:focus {
                    background: $foreground-color-select;
                    outline: none;
                }

                &:active {
                    background: $foreground-color-active;
                }
            }
            
            &:not(muted) {
                background: transparent;
                color: $foreground-color-primary;
                
                &:hover, &:focus {
                    background: #ffffff09;
                    outline: none;
                }
    
                &:active {
                    background: #ffffff16;
                }
            }
        }
        
        .audio-stream-volume-slider {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 12px;
            
            trough {
                border-radius: 0px;
                min-height: 8px;
                min-width: 8px;
                background-color: $background-color-quaternary;
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0, 0.3, 0, 1);
            }
        
            trough:focus {
                outline: none;
            }
        
            &:hover trough {
                background-color: $background-color-quinary;
            }
        
            highlight, &:hover highlight {
                border-radius: 0px;
                min-height: 4px;
                min-width: 4px;
                background-color: $foreground-color-primary;
            }
        
            slider {
                outline: none;
                border-radius: 0px;
                padding: 0px;
                background-color: #00000000;
                box-shadow: none;
            }
        }
    }
}