.sidebar-right-top-tabs .audio-tab-root {
    .audio-master-controls {
        margin-top: 4px;
        background: $background-color-tertiary;
        padding: 6px;
        
        .audio-master-icon {
            @include material-icons;
            color: $foreground-color-primary;
            font-size: 18px;
        }
        
        .audio-master-volume-label {
            margin-right: 4px;
        }
        
        .audio-master-volume-slider {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 8px;
            padding-right: 6px;
            
            trough {
                border-radius: 0px;
                min-height: 8px;
                min-width: 8px;
                background-color: $background-color-quaternary;
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0, 0.3, 0, 1);
            }
        
            trough:focus {
                outline: none;
            }
        
            &:hover trough {
                background-color: $background-color-quinary;
            }
        
            highlight, &:hover highlight {
                border-radius: 0px;
                min-height: 4px;
                min-width: 4px;
                background-color: $foreground-color-primary;
            }
        
            slider {
                outline: none;
                border-radius: 0px;
                padding: 0px;
                background-color: #00000000;
                box-shadow: none;
            }
        }
    }
    
    .audio-streams-root {
        margin-top: 4px;
    }
    
    .audio-stream-root {
        background: $background-color-tertiary;
        padding: 8px;
        
        .audio-stream-mute-button {
            @include material-icons;

            color: $foreground-color-primary;
            font-weight: 300;
            font-size: 12px;
            padding: 0px;
            margin-left: 6px;
            min-width: 20px;
            min-height: 20px;
            border-radius: 0px;

            &.muted {
                background: $foreground-color-primary;
                color: $background-color-primary;
                
                &:hover, &:focus {
                    background: $foreground-color-select;
                    outline: none;
                }

                &:active {
                    background: $foreground-color-active;
                }
            }
            
            &:not(muted) {
                background: transparent;
                color: $foreground-color-primary;
                
                &:hover, &:focus {
                    background: #ffffff09;
                    outline: none;
                }
    
                &:active {
                    background: #ffffff16;
                }
            }
        }
        
        .audio-stream-volume-slider {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 12px;
            
            trough {
                border-radius: 0px;
                min-height: 8px;
                min-width: 8px;
                background-color: $background-color-quaternary;
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0, 0.3, 0, 1);
            }
        
            trough:focus {
                outline: none;
            }
        
            &:hover trough {
                background-color: $background-color-quinary;
            }
        
            highlight, &:hover highlight {
                border-radius: 0px;
                min-height: 4px;
                min-width: 4px;
                background-color: $foreground-color-primary;
            }
        
            slider {
                outline: none;
                border-radius: 0px;
                padding: 0px;
                background-color: #00000000;
                box-shadow: none;
            }
        }
    }
}