.sidebar-right-top-tabs .audio-tab-root {
    .audio-streams-root {
        margin-top: 4px;
    }
    
    .audio-stream-root {
        background: $background-color-tertiary;
        padding: 8px;
    }
}