@import "notifications";
@import "audio";
@import "calendar";

.right-sidebar-window {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    .right-sidebar-box {
        @include normal-text;
        background-color: $background-color-primary;
        border: 1px solid $border-color-primary;
        color: $foreground-color-primary;
        padding: 16px;
        min-width: 350px;

        .sidebar-right-header-icon {
            @include large-text;
            min-width: 40px;
            min-height: 40px;
            background: $background-color-secondary;
            border: 1px solid $background-color-tertiary;
        }

        .sidebar-right-header-label {
            margin-left: 10px;
        }

        .sidebar-right-header-sublabel {
            @include tiny-text;
            margin-left: 10px;
            color: $foreground-color-secondary;
        }

        .sidebar-button {
            background: $background-color-primary;
            border: 1px solid $border-color-primary;
            border-radius: 0px;
            color: $foreground-color-primary;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 6px;
            padding-right: 6px;
            font-weight: normal;

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:active {
                background: $background-color-quaternary;
            }
        }

        .sidebar-right-quicktoggles {
            padding: 0px;
        
            .sidebar-right-quicktoggle-button {
                @include material-icons;

                border-radius: 0px;
                font-size: 16px;
                padding: 6px;
                min-width: 20px;
                min-height: 20px;
                font-weight: normal;

                &:not(.toggled) {
                    background: $background-color-primary;
                    color: $foreground-color-primary;

                    &:hover, &:focus {
                        background: $background-color-tertiary;
                        outline: none;
                    }

                    &:active {
                        background: $background-color-quaternary;
                    }
                }

                &.toggled {
                    background: $foreground-color-primary;
                    color: $background-color-primary;

                    &:hover, &:focus {
                        background: $foreground-color-select;
                        outline: none;
                    }

                    &:active {
                        background: $foreground-color-active;
                    }
                }
            }
        }

        .sidebar-right-top-tabs {
            background: $background-color-primary;

            .sidebar-right-top-tabs-content {
                padding: 8px;
                background: $background-color-secondary;
            }
        }

        .sidebar-right-bottom-tabs {
            background: $background-color-primary;

            .sidebar-right-bottom-tabs-content {
                padding: 8px;
                background: $background-color-secondary;
            }
        }
    }
}
