.sidebar-right-top-tabs .notification-tab-root {
    .notification-tab-header {
        padding: 1px;

        .notification-tab-header-counter {
            color: $foreground-color-secondary;
        }
    }
}