.sidebar-right-bottom-tabs .weather-tab-root {
    .current-weather {
        .current-weather-status {
            .current-weather-icon {
                @include material-icons;
                color: $foreground-color-secondary;
                font-size: 40px;
                font-weight: 200;
            }

            .current-weather-outlook {
                .current-weather-temp {
                    .current-weather-actual-temp {
                        @include large-text;
                        font-weight: 700;
                    }

                    .current-weather-feels-like-temp {
                        @include tiny-text;
                        color: $foreground-color-tertiary;
                    }
                }

                .current-weather-condition {
                    @include tiny-text;
                }
            }
        }

        .current-weather-other-temps {
            margin-right: 6px;

            .material-icons {
                color: $foreground-color-secondary;
                font-weight: normal;
            }
        }
    }

    .weather-daily-forecast {
        padding-left: 6px;
        padding-right: 6px;

        .weather-forecast-day {
            .weather-forecast-day-name {
                @include tiny-text;
                color: $foreground-color-tertiary;
                padding-top: 3px;
            }

            .weather-forecast-day-icon {
                @include material-icons;
                font-size: 14px;
            }

            .weather-forecast-high, .weather-forecast-low {
                @include tiny-text;

                .material-icons {
                    color: $foreground-color-tertiary;
                    font-weight: normal;
                }
            }
        }
    }
}