@import "user";
@import "mixins";
@import "common";

// Components
@import "components/dot-separator";
@import "components/popup";
@import "components/osd";
@import "components/notifications";
@import "components/clipboard";
@import "components/session";
@import "components/overview";

// Sidebars
@import "sidebar/left-sidebar/base";
@import "sidebar/right-sidebar";

// Bar
@import "bar/bar";
@import "bar/bar-mpris";
@import "bar/bar-sysstats";
@import "bar/bar-workspaces";
@import "bar/bar-tray";
@import "bar/bar-client";