// Change these variables to customize the look of the bar globally
$background-color-primary: #131313;
$foreground-color-primary: #e2e2e2;
$font-family-normal: "Cozette";
$font-family-small: "GohuFont uni11 Nerd Font";
$font-family-big: "GohuFont uni14 Nerd Font";

.dot-separator {
    background: $foreground-color-primary;
    min-height: 2px;
    min-width: 2px;
    margin-left: 6px;
    margin-right: 6px;
}

.bar {
    background: transparent;
    font-family: $font-family-normal;
    letter-spacing: 0.05em;

    .bar-widget {
        background: $background-color-primary;
        color: $foreground-color-primary;
        
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 6px;
        padding-right: 6px;

        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 2px;
        margin-right: 2px;

        &:first-child {
            margin-left: 5px;
        }

        &:last-child {
            margin-right: 5px;
        }

        &.bar-mpris {
            padding: 0px;
            min-width: 250px;

            .bar-mpris-track {
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}