@import "user.scss";
@import "mixins.scss";
@import "common.scss";

.dot-separator {
    background: $foreground-color-primary;
    min-height: 2px;
    min-width: 2px;
    margin-left: 6px;
    margin-right: 6px;
}

.left-sidebar-window {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    .left-sidebar-box {
        @include normal-text;
        background-color: $background-color-primary;
        border: 1px solid $border-color-primary;
        color: $foreground-color-primary;
        padding: 8px;
        min-width: 400px;

        .GoogleTranslate {
            .google-translate-arrow {
                @include large-text;
                color: $foreground-color-primary;
                font-weight: 900;
                margin-left: 10px;
                margin-right: 10px;
            }

            .google-translate-button,
            .google-translate-language-select-button {
                @include normal-text;
                background: $background-color-secondary;
                font-weight: 300;
                border: 0px;
                color: $foreground-color-primary;
                padding: 8px 12px;
                border-radius: 0px;

                &:hover, &:focus {
                    background: $background-color-tertiary;
                    outline: none;
                }

                &:active {
                    background: $background-color-quaternary;
                }

                .material-icons {
                    font-weight: 400;
                    font-size: 16px;
                }
            }

            .google-translate-language-select-box {
                .google-translate-language-select-label {
                    @include large-text;
                    margin-top: 6px;
                }

                .google-translate-language-select-nav-button {
                    @include normal-text;
                    background: $background-color-secondary;
                    font-weight: 300;
                    border: 0px;
                    color: $foreground-color-primary;
                    padding: 4px;
                    border-radius: 0px;

                    &:hover {
                        background: $background-color-tertiary;
                    }
                }
            }

            .google-translate-language-select-filter-box {
                background: $background-color-secondary;
                border: 1px solid $background-color-tertiary;
                padding: 8px;

                .google-translate-language-select-filter-entry {
                    background: transparent;
                    color: $foreground-color-primary;
                    padding: 4px;
                    min-height: 0px;
                    border-radius: 0px;
                    outline: none;
                    box-shadow: none;
                    border: none;
                }

                .google-translate-language-select-filter-clear-button {
                    @include material-icons;
                    background: transparent;
                    min-height: 0px;
                    margin-left: 4px;
                    padding: 0px;
                    color: $foreground-color-quaternary;

                    &:hover, &:focus {
                        color: $foreground-color-tertiary;
                        outline: none;
                    }

                    &:active {
                        color: $foreground-color-secondary;
                    }
                }
            }

            .google-translate-text-view {
                @include large-text;
                padding: 12px;
                background: $background-color-secondary;

                text {
                    background: $background-color-secondary;
                }
            }
        }

        .ColorPicker {
            .color-picker-hue {
                background: linear-gradient(to bottom, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
                min-height: 372px;
                min-width: 16px;
                margin-right: 2px;
                margin-left: 2px;

                .color-picker-hue-trough {
                    min-height: 4px;
                    background: #ffffff;
                }
            }

            .color-picker-saturation-value {
                background: $background-color-secondary;
                min-height: 372px;
                min-width: 372px;

                .color-picker-saturation-value-trough {
                    transition: border-color 0.25s cubic-bezier(0.5, 0, 0.25, 1);
                    min-height: 5px;
                    min-width: 5px;
                    border-width: 1px;
                    border-style: solid;
                }
            }
        }
    }
}

.right-sidebar-window {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    .right-sidebar-box {
        @include normal-text;
        background-color: $background-color-primary;
        border: 1px solid $border-color-primary;
        color: $foreground-color-primary;
        padding: 16px;
        min-width: 350px;

        .sidebar-right-header-icon {
            @include large-text;
            min-width: 40px;
            min-height: 40px;
            background: $background-color-secondary;
            border: 1px solid $background-color-tertiary;
        }

        .sidebar-right-header-label {
            margin-left: 10px;
        }

        .sidebar-right-header-sublabel {
            @include tiny-text;
            margin-left: 10px;
            color: $foreground-color-secondary;
        }

        .sidebar-button {
            background: $background-color-primary;
            border: 1px solid $border-color-primary;
            border-radius: 0px;
            color: $foreground-color-primary;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 6px;
            padding-right: 6px;
            font-weight: normal;

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:active {
                background: $background-color-quaternary;
            }
        }
    }
}

.overview-window {
    @include normal-text;
    background-color: $background-color-primary-semitrans;
    color: $foreground-color-primary;

    .entry-prompt-label {
        color: $foreground-color-secondary;
        padding-left: 12px;
        padding-right: 12px;
    }

    .entry-box {
        background: $background-color-primary;
        min-width: 294px;
        transition: all 0.25s cubic-bezier(0.5, 0, 0, 1);
        padding: 16px;
        border: 1px solid $border-color-primary;

        .entry-prompt {
            outline: none;
            background: transparent;
            color: $foreground-color-primary;

            selection {
                background-color: $foreground-color-select;
                color: $background-color-quaternary;
            }

            caret-color: transparent;
        }

        &.entry-extended {
            min-width: 432px;

            .entry-prompt {
                caret-color: $foreground-color-select;
            }
        }
    }

    .overview-search-results {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;
        padding: 8px;
        min-width: 448px;

        .overview-search-item-row {
            padding: 0px;
        }

        .overview-search-item-revealer {
            transition: opacity 0.175s cubic-bezier(0.5, 0, 0, 1);

            &.revealed {
                opacity: 1;
            }

            &:not(.revealed) {
                opacity: 0;
            }
        }

        .overview-search-item {
            @include large-text;
            background: $background-color-primary;
            color: $foreground-color-primary;
            border-radius: 0px;

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:focus {
                .overview-search-item-action {
                    opacity: 1;
                }
            }

            &:not(:focus) {
                .overview-search-item-action {
                    opacity: 0;
                }
            }

            &:active {
                background: $background-color-quaternary;
            }

            .overview-search-item-box {
                padding: 4px;
                font-weight: normal;

                .overview-search-item-icon {
                    font-size: 24px;
                    margin-right: 16px;
                }

                .overview-search-item-subtitle {
                    @include tiny-text;
                    margin-left: 1px; /* sigh */
                    color: $foreground-color-secondary;
                }

                .overview-search-item-action {
                    color: $foreground-color-secondary;
                    transition: opacity 0.175s cubic-bezier(0.5, 0, 0, 1);
                }
            }
        }
    }
}

.session-window {
    @include normal-text;
    background-color: $background-color-primary-semitrans;
    color: $foreground-color-primary;

    .session-box-row1 .session-button:nth-child(2) {
        margin-bottom: 108px;
    }

    .session-box-row2 .session-button:nth-child(2) {
        margin-top: 108px;
    }

    .session-box-row1 {
        margin-bottom: -53px;
    }

    .session-box-row2 {
        margin-top: -53px;
    }

    .session-button {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;
        border-radius: 0px;
        color: $foreground-color-primary;
        padding: 8px;
        font-weight: 300;
        min-width: 96px;
        min-height: 96px;

        &:hover, &:focus {
            background: $background-color-tertiary;
            outline: none;
        }

        &:active {
            background: $background-color-quaternary;
        }

        .session-button-icon {
            @include material-icons;
            font-size: 48px;
        }
    }
}

.bar-window {
    background: transparent;

    .bar {
        @include normal-text;

        .bar-widget-wrapper {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 2px;
            padding-right: 2px;

            &:first-child {
                padding-left: 5px;
            }

            &:last-child {
                padding-right: 5px;
            }
        }

        .bar-widget {
            background: $background-color-primary;
            color: $foreground-color-primary;

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 6px;
            padding-right: 6px;

            &.bar-mpris {
                padding: 0px;

                .bar-mpris-track {
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 6px;
                    padding-right: 6px;
                }

                .bar-mpris-paused-overlay {
                    background: $background-black-semi-trans;
                }
            }

            &.bar-sysstats {
                padding: 2px;
                padding-right: 0px;

                .bar-sysstats-item {
                    background: $background-color-secondary;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 6px;
                    padding-right: 6px;
                    margin-right: 2px;

                    .bar-sysstats-icon {
                        margin-right: 6px;
                    }

                    .bar-sysstats-detailed-label {
                        margin-left: 6px;
                        color: $foreground-color-secondary;
                    }
                }
            }

            &.bar-client {
                .bar-client-title {
                    margin-top: -1px;
                    margin-bottom: -1px;
                }
            
                .bar-client-icon {
                    margin-right: 6px;
                    font-size: 14px;
                }
            }

            &.bar-workspaces {
                padding: 0px;

                .bar-workspaces-drawingarea {
                    padding: 0px;
                    background: $background-color-primary;
                    transition-property: font-size;
                    transition-duration: 0.225s;
                    transition-timing-function: cubic-bezier(0.5, 0, 0.25, 1);
                    transition-delay: 0s;
                    min-width: 50px;
                    min-height: 0px;
                }
            }

            &.bar-tray {
                .bar-tray-item {
                    padding-left: 3px;
                    padding-right: 3px;

                    &:first-child {
                        padding-left: 0px;
                    }

                    &:last-child {
                        padding-right: 0px;
                    }
                }

                popover.bar-tray-popover-menu {
                    contents {
                        background: $background-color-primary;

                        border-radius: 0px;
                        box-shadow: none;

                        modelbutton {
                            padding: 6px;

                            &:hover, &:focus {
                                background: $background-color-secondary;
                            }

                            &:active {
                                background: $background-color-tertiary;
                            }
                        }
                    }
                }
            }
        }
    }
}