@import "user.scss";
@import "mixins.scss";

.dot-separator {
    background: $foreground-color-primary;
    min-height: 2px;
    min-width: 2px;
    margin-left: 6px;
    margin-right: 6px;
}

.overview-window {
    @include normal-text;
    background-color: $background-color-primary-semitrans;
    color: $foreground-color-primary;

    .entry-prompt-label {
        color: $foreground-color-secondary;
        padding-left: 12px;
        padding-right: 12px;
    }

    .entry-box {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;

        .entry-prompt {
            min-width: 20rem;
            min-height: 3rem;
            transition: all 0.3s cubic-bezier(0.5, 0, 0, 1);
            outline: none;
            background: $background-color-primary;
            color: $foreground-color-primary;
            padding-left: 12px;
            padding-right: 12px;

            selection {
                background-color: $foreground-color-select;
                color: $background-color-fourth;
            }

            caret-color: transparent;
        }

        .entry-prompt.entry-extended {
            min-width: 32rem;
            caret-color: $foreground-color-select;
        }
    }

    .overview-search-results {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;
        padding: 8px;
        min-width: 350px;

        .overview-search-item {
            @include large-text;
            background: $background-color-primary;
            color: $foreground-color-primary;
            border-radius: 0px;

            &:hover, &:focus {
                background: $background-color-third;
                outline: none;
            }

            &:focus {
                .overview-search-item-action {
                    opacity: 1;
                }
            }

            &:not(:focus) {
                .overview-search-item-action {
                    opacity: 0;
                }
            }

            &:active {
                background: $background-color-fourth;
            }

            .overview-search-item-box {
                padding: 4px;
                font-weight: normal;

                .overview-search-item-icon {
                    font-size: 24px;
                    margin-right: 16px;
                }

                .overview-search-item-subtitle {
                    @include tiny-text;
                    margin-left: 1px; /* sigh */
                    color: $foreground-color-secondary;
                }

                .overview-search-item-action {
                    color: $foreground-color-secondary;
                    transition: opacity 0.175s cubic-bezier(0.5, 0, 0, 1);
                }
            }
        }
    }
}

.session-window {
    @include normal-text;
    background-color: $background-color-primary-semitrans;
    color: $foreground-color-primary;

    .session-box-row1 .session-button:nth-child(2) {
        margin-bottom: 108px;
    }

    .session-box-row2 .session-button:nth-child(2) {
        margin-top: 108px;
    }

    .session-box-row1 {
        margin-bottom: -53px;
    }

    .session-box-row2 {
        margin-top: -53px;
    }

    .session-button {
        background: $background-color-primary;
        border: 1px solid $border-color-primary;
        border-radius: 0px;
        color: $foreground-color-primary;
        padding: 8px;
        font-weight: 300;
        min-width: 96px;
        min-height: 96px;

        &:hover, &:focus {
            background: $background-color-third;
            outline: none;
        }

        &:active {
            background: $background-color-fourth;
        }

        .session-button-icon {
            @include material-icons;
            font-size: 48px;
        }
    }
}

.bar-window {
    background: transparent;

    .bar {
        @include normal-text;

        .bar-widget-wrapper {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 2px;
            padding-right: 2px;

            &:first-child {
                padding-left: 5px;
            }

            &:last-child {
                padding-right: 5px;
            }
        }

        .bar-widget {
            background: $background-color-primary;
            color: $foreground-color-primary;

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 6px;
            padding-right: 6px;

            &.bar-mpris {
                padding: 0px;

                .bar-mpris-track {
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 6px;
                    padding-right: 6px;
                }

                .bar-mpris-paused-overlay {
                    background: $background-black-semi-trans;
                }
            }

            &.bar-sysstats {
                padding: 2px;
                padding-right: 0px;

                .bar-sysstats-item {
                    background: $background-color-secondary;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 6px;
                    padding-right: 6px;
                    margin-right: 2px;

                    .bar-sysstats-icon {
                        margin-right: 6px;
                    }

                    .bar-sysstats-detailed-label {
                        margin-left: 6px;
                        color: $foreground-color-secondary;
                    }
                }
            }

            &.bar-client {
                .bar-client-title {
                    margin-top: -1px;
                    margin-bottom: -1px;
                }
            
                .bar-client-icon {
                    margin-right: 6px;
                    font-size: 14px;
                }
            }

            &.bar-workspaces {
                padding: 0px;

                .bar-workspaces-drawingarea {
                    padding: 0px;
                    background: $background-color-primary;
                    transition-property: font-size;
                    transition-duration: 0.225s;
                    transition-timing-function: cubic-bezier(0.5, 0, 0.25, 1);
                    transition-delay: 0s;
                    min-width: 50px;
                    min-height: 0px;
                }
            }

            &.bar-tray {
                .bar-tray-item {
                    padding-left: 3px;
                    padding-right: 3px;

                    &:first-child {
                        padding-left: 0px;
                    }

                    &:last-child {
                        padding-right: 0px;
                    }
                }

                popover.bar-tray-popover-menu {
                    contents {
                        background: $background-color-primary;

                        border-radius: 0px;
                        box-shadow: none;

                        modelbutton {
                            padding: 6px;

                            &:hover, &:focus {
                                background: $background-color-secondary;
                            }

                            &:active {
                                background: $background-color-third;
                            }
                        }
                    }
                }
            }
        }
    }
}