@import "user.scss";

@mixin material-icons {
    font-family: "Material Symbols Rounded", "MaterialSymbolsRounded", "Material Symbols Outlined",
        "Material Symbols Sharp", "Material Design Icons", "Material Icons";
}

@mixin material-icons-filled {
    font-family: "Material Design Icons", "Material Icons";
}

.material-icons {
    @include material-icons;
}

.material-icons-filled {
    @include material-icons-filled;
}

@mixin tiny-text {
    font-size: 11px;
    font-family: $font-family-small, "Terminus", monospace;
}

@mixin normal-text {
    font-size: 13px;
    font-family: $font-family-normal, monospace;
    letter-spacing: 0.05em;
}

@mixin large-text {
    font-size: 14px;
    font-family: $font-family-big, "Terminus", monospace;
}