// Change these variables to customize the look of the bar globally
$background-black-semi-trans: #00000088;
$background-color-primary: #131313;
$background-color-primary-semitrans: #13131364;
$background-color-secondary: #1b1b1b;
$background-color-tertiary: #242424;
$background-color-quaternary: #373737;
$border-color-primary: #1f1f1f;
$foreground-color-primary: #e2e2e2;
$foreground-color-primary-focus: #eaeaea;
$foreground-color-primary-active: #f8f8f8;
$foreground-color-select: #c6c6c6;
$foreground-color-secondary: #999;
$foreground-color-tertiary: #888;
$foreground-color-quaternary: #777;
$foreground-color-quinary: #5f5f5f;
$font-family-normal: "Cozette";
$font-family-small: "GohuFont uni11 Nerd Font";
$font-family-big: "GohuFont uni14 Nerd Font";