.right-sidebar-window {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    .right-sidebar-box {
        @include normal-text;
        background-color: $background-color-primary;
        border: 1px solid $border-color-primary;
        color: $foreground-color-primary;
        padding: 16px;
        min-width: 350px;

        .sidebar-right-header-icon {
            @include large-text;
            min-width: 40px;
            min-height: 40px;
            background: $background-color-secondary;
            border: 1px solid $background-color-tertiary;
        }

        .sidebar-right-header-label {
            margin-left: 10px;
        }

        .sidebar-right-header-sublabel {
            @include tiny-text;
            margin-left: 10px;
            color: $foreground-color-secondary;
        }

        .sidebar-button {
            background: $background-color-primary;
            border: 1px solid $border-color-primary;
            border-radius: 0px;
            color: $foreground-color-primary;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 6px;
            padding-right: 6px;
            font-weight: normal;

            &:hover, &:focus {
                background: $background-color-tertiary;
                outline: none;
            }

            &:active {
                background: $background-color-quaternary;
            }
        }

        .sidebar-right-quicktoggles {
            padding: 0px;
        
            .sidebar-right-quicktoggle-button {
                @include material-icons;

                border-radius: 0px;
                font-size: 16px;
                padding: 6px;
                min-width: 20px;
                min-height: 20px;
                font-weight: normal;

                &:not(.toggled) {
                    background: $background-color-primary;
                    color: $foreground-color-primary;

                    &:hover, &:focus {
                        background: $background-color-tertiary;
                        outline: none;
                    }

                    &:active {
                        background: $background-color-quaternary;
                    }
                }

                &.toggled {
                    background: $foreground-color-primary;
                    color: $background-color-primary;

                    &:hover, &:focus {
                        background: $foreground-color-select;
                        outline: none;
                    }

                    &:active {
                        background: $foreground-color-active;
                    }
                }
            }
        }

        .sidebar-right-sections-container {
            border-top: 1px solid $border-color-primary;
            padding-top: 12px;

            .sidebar-right-section-box {
                padding: 8px;
                transition: background 0.25s cubic-bezier(0.5, 0, 0.25, 1),
                            color 0.25s cubic-bezier(0.5, 0, 0.25, 1);

                .sidebar-right-section-icon {
                    @include material-icons;
                    font-size: 24px;
                    margin-right: 6px;
                }

                .sidebar-right-section-arrow {
                    @include material-icons;
                    font-size: 16px;
                }

                &.toggled {
                    background: $foreground-color-primary;
                    color: $background-color-primary;

                    .sidebar-right-section-content, .sidebar-right-section-arrow {
                        color: $background-color-quaternary;
                    }

                    &:hover, &:focus {
                        background: $foreground-color-select;
                        outline: none;
                    }

                    &:active {
                        background: $foreground-color-active;
                    }
                }

                &:not(.toggled) {
                    background: $background-color-secondary;
                    color: $foreground-color-primary;

                    .sidebar-right-section-content, .sidebar-right-section-arrow {
                        color: $foreground-color-secondary;
                    }

                    &:hover, &:focus {
                        background: $background-color-tertiary;
                        outline: none;
                    }

                    &:active {
                        background: $background-color-quaternary;
                    }
                }
            }
        }
    }
}
